{% extends 'base.html' %}{% set title='登入' %}{% block content %}<div class="card"
    style="max-width:520px;margin:30px auto">
    <h2>登入帳號</h2>
    <form method="post" class="form-grid">
        <div class="field" style="grid-column:1/-1"><label>Email</label><input name="email" type="text" required></div>
        <div class="field" style="grid-column:1/-1"><label>密碼</label><input name="password" type="password" required>
        </div><button class="btn" type="submit">登入</button>
    </form>
    <p style="text-align:center">還沒有帳號？<a href="{{ url_for('register') }}">立即註冊</a></p>
</div>{% endblock %}